body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #000;
}

body .bg-img {
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
}

body nav {
    background: rgba(255, 255, 255, 0.1);
}

body nav .navbar-nav a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff !important;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

body nav .navbar-nav a:hover {
    color: #ff8013 !important;
}

body nav .navbar-nav .btn-danger {
    background: #ff8013;
    border-color: #ff8013;
    border-radius: 0;
}

body nav .navbar-nav .btn-danger:hover {
    background: #df6700;
    border-color: #df6700;
}

#btn{
  background-color:#ff8000;
}

a,
a:hover {
    color: #ff8013;
}

footer {
    background: #101011;
    color: #fff;
  }
  footer .footer1 p {
    margin-top: 30px;
  }
  footer .footer2 h4 {
    color: #ff8013;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 20px auto;
  }
  footer .footer2 .form-box {
    background: #fff;
    padding: 20px 30px;
    margin-top: -30px;
  }
  footer .footer2 input[type='text'], footer .footer2 input[type='email'] {
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #000;
  }
  footer .footer2 input[type='text']:focus, footer .footer2 input[type='email']:focus {
    box-shadow: none;
    border-color: #ff8013;
  }
  footer .footer2 .btn {
    min-width: 150px;
    border-radius: 0;
  }
  footer .footer2 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #262626;
  }
  footer .footer2 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #262626;
  }
  footer .footer2 :-ms-input-placeholder {
    /* IE 10+ */
    color: #262626;
  }
  footer .footer2 :-moz-placeholder {
    /* Firefox 18- */
    color: #262626;
  }
  footer .footer3 {
    padding-top: 50px;
  }
  footer .footer3 a {
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
    padding-top: 5px;
  }
  footer .footer3 a:hover {
    background: #ff8013;
  }
  footer .footer3 .nav-item li {
    margin: 0 5px;
  }
  footer .table td, footer .table th {
    border: none;
  }
  
  footer::before {
    content: "";
    position: absolute;
    border: 3px solid #ff8013;
    width: 100%;
    left: 0;
  }
